@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> This system allows the company to retrieve and maintain their data from a CSV format that
will be captured, maintained and retrieved when it is needed. This data serves
as the basis that the solution needs to be built off of. </p>
