@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Three SW Blvd<br />
    Centurion,  92A<br />
    <abbr title="Phone">P:</abbr>
    018 345 3223
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">BkItServices@WebDesign.com</a><br />
</address>